# BH1750 temperature and pressure sensor configuration options

# Copyright (c) 2022 Gaël PORTAY
# SPDX-License-Identifier: Apache-2.0

menuconfig BH1750
	bool "BH1750 sensor"
	default y
	depends on DT_HAS_ROHM_BH1750_ENABLED
	select I2C
	help
	  Enable driver for BH1750 I2C-based light sensor.

if BH1750

choice
	prompt "BH1750 mode"
	default BH1750_CONTINUOUSLY_HIGH_RESOLUTION_MODE
	help
	  Select mode. In continuously mode continuous measurements are
	  performed, whereas in one-time mode only single measurement is
	  performed and chip is automatically power down after measurement.
config BH1750_CONTINUOUSLY_HIGH_RESOLUTION_MODE
	bool "continuously high resolution (1lx, 120ms)"
config BH1750_CONTINUOUSLY_HIGH_RESOLUTION_MODE_2
	bool "continuously high resolution 2 (0.5lx, 120ms)"
config BH1750_CONTINUOUSLY_LOW_RESOLUTION_MODE
	bool "continuously low resolution (4lx, 16ms)"
config BH1750_ONE_TIME_HIGH_RESOLUTION_MODE
	bool "one-time high resolution (1lx, 120ms)"
config BH1750_ONE_TIME_HIGH_RESOLUTION_MODE_2
	bool "one-time high resolution (0.5lx, 120ms)"
config BH1750_ONE_TIME_LOW_RESOLUTION_MODE
	bool "one-time low resolution (4lx, 16ms)"
endchoice

endif # BH1750
